<h1>welcome to {{hotelName}}</h1>
<div [hidden]="hideRooms">
    number of rooms:
    <div  [ngStyle]="{'color': rooms.avaliableRooms ? 'green' : 'red'}"
    
     [innerText]="numberOfRooms">


    </div>
</div>
<h1 [ngClass]="amin ? 'even' : 'odd'">amin</h1>

<!-- {{ rooms?.avaliableRooms ?? 'No rooms'}} -->

<div *ngIf="rooms.avaliableRooms > 0">
    <!-- {{roomList}} -->
    <app-rooms-list [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"
    >

    </app-rooms-list>
   
</div>

<div [ngStyle]="{'color':'red','width':'100px','background':'blue'}">amin</div>

<button (click)="toggle()">toogle</button>
<button (click)="click()">click me</button>
